body { font-family: Arial, sans-serif; background-color: #f4f4f4; display: flex; justify-content: center; padding: 50px; }
.container { background: rgb(99, 124, 159); padding: 30px; border-radius: 12px; box-shadow: 0 4px 15px rgba(0,0,0,0.1); width: 600px; min-height: 500px; }
.input-group { display: flex; gap: 5px; margin-bottom: 20px; }
input, select { padding: 8px; border: 1px solid #ddd; }
button { cursor: pointer; background: #28a745; color: white; border: none; padding: 8px; }
ul { list-style: none; padding: 0; }
li { background: #eee; margin-bottom: 5px; padding: 10px; display: flex; justify-content: space-between; border-left: 5px solid #ccc; }
.priority-high { border-left-color: red; }
.priority-medium { border-left-color: orange; }
.priority-low { border-left-color: green; }
.actions { display: flex; gap: 5px; }
.edit-btn { background-color: #007bff !important; width: auto !important; padding: 5px 10px !important; }
.delete-btn { background-color: #dc3545 !important; width: auto !important; padding: 5px 10px !important; }
.modal { display: none; position: fixed; z-index: 1000; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); }
.modal-content { background-color: white; margin: 10% auto; padding: 40px; width: 450px; border-radius: 15px; text-align: center; }
.modal-buttons { display: flex; gap: 10px; margin-top: 10px; }
.save-btn { background: #28a745; color: white; }
.cancel-btn { background: #6c757d; color: white; }
.login-container { display: flex; justify-content: center; align-items: flex-start; padding-top: 50px; height: 100vh; width: 100%; position: fixed; top: 0; left: 0; background-color: #f4f4f9; z-index: 2000; }
.login-box { background: white; padding: 40px; border-radius: 12px; box-shadow: 0 4px 15px rgba(0,0,0,0.1); text-align: center; width: 350px; }
.login-box h2 { margin-bottom: 20px; color: #333; }